.features6-wrapper {
  display: contents;
}
 
.features6-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features6-max-width {
  gap: var(--dl-layout-space-threeunits);
}
 
.features6-image1 {
  width: 200px;
  object-fit: cover;
}
 
.features6-section-title {
  align-items: flex-start;
}
 
.features6-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
 
.features6-actions {
  align-self: flex-start;
}
 
.features6-image2 {
  width: 200px;
  object-fit: cover;
}
 
.features6-container2 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features6-image3 {
  width: 200px;
  object-fit: cover;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features6-layout216 {
    width: 100%;
  }
  .features6-max-width {
    flex-direction: column;
  }
  .features6-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features6-layout216 {
    background-color: #e7eff3;
  }
  .features6-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features6-image1 {
    width: 100%;
    height: 537px;
    border-radius: var(--dl-layout-radius-buttonradius);
  }
  .features6-container1 {
    height: 37px;
    border-width: 0px;
  }
  .features6-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-layout-space-unit);
    justify-content: center;
  }
  .features6-image2 {
    width: 108px;
    height: 107px;
  }
  .features6-container2 {
    width: 43px;
    border-width: 0px;
  }
  .features6-image3 {
    width: 112px;
    height: 107px;
  }
  .home-text10 {
    font-family: Helvetica;
  }
  .home-text11 {
    font-family: HelveticaRounded-Bold;
  }
}

.features11-wrapper {
  display: contents;
}
 
.features11-layout349 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features11-image {
  object-fit: cover;
}
 
.features11-text1 {
  align-self: center;
  text-align: center;
}
 
.features11-text2 {
  align-self: center;
  text-align: center;
}
 
.features11-text3 {
  align-self: center;
  text-align: center;
}
 
.features11-button {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
  font-family: HelveticaRounded-Bold;

}
 
@media(max-width: 991px) {
  .features11-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .features11-max-width {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features11-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .features11-image {
    width: 120%;
    border-radius: var(--dl-layout-radius-buttonradius);
  }
  .features11-actions {
    width: 100%;
    flex-direction: column;
  }
  .features11-button {
    width: 202px;
  }
}

.features111-wrapper {
  display: contents;
}
 
.features111-layout349 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features111-text1 {
  align-self: center;
  text-align: center;
}
 
.features111-text2 {
  align-self: center;
  text-align: center;
}
 
.features111-text3 {
  align-self: center;
  text-align: center;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features111-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .features111-max-width {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features111-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .features111-image {
    width: 120%;
    height: 467px;
    border-radius: var(--dl-layout-radius-buttonradius);
  }
  .features111-text1 {
    align-self: flex-start;
  }
  .features111-actions {
    width: 100%;
    flex-direction: column;
  }
}

.features112-wrapper {
  display: contents;
}
 
.features112-layout349 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features112-text1 {
  align-self: center;
  text-align: center;
}
 
.features112-text2 {
  align-self: center;
  text-align: center;
}
 
.features112-text3 {
  align-self: center;
  text-align: center;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features112-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .features112-max-width {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features112-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .features112-image {
    height: 481px;
    border-radius: var(--dl-layout-radius-buttonradius);
  }
  .features112-text1 {
    align-self: flex-start;
  }
  .features112-actions {
    width: 100%;
    flex-direction: column;
  }
  .home-text24 {
    font-family: Helvetica;
  }
  .home-text25 {
    font-family: Helvetica;
  }
  .home-text26 {
    font-family: HelveticaRounded-Bold;
  }
}

.contact3-wrapper {
  display: contents;
}
 
.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact3-max-width {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-section-title {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact3-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-text2 {
  text-align: center;
}
 
.contact3-row {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact3-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-email {
  text-align: center;
}
 
.contact3-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-phone {
  text-align: center;
}
 
.contact3-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-address {
  text-align: center;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact3-row {
    align-items: stretch;
  }
  .contact3-icon1 {
    fill: #7ABFE1;
  }
  .contact3-email {
    font-family: HelveticaRounded-Bold;
  }
  .contact3-icon3 {
    fill: #7ABFE1;
  }
  .contact3-phone {
    font-family: HelveticaRounded-Bold;
  }
  .contact3-icon5 {
    fill: #7ABFE1;
  }
  .contact3-address {
    font-family: HelveticaRounded-Bold;
  }
  .home-text29 {
    font-family: Helvetica;
  }
  .home-text30 {
    color: #7abfe1;
    font-family: HelveticaRounded-Bold;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image {
  width: 200px;
  object-fit: cover;
}
 
.home-container2 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-navlink {
  text-decoration: none;
}
 
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
  font-family: HelveticaRounded-Bold;

  
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .home-container2 {
    height: 66px;
    border-style: outset;
    border-width: 0px;
  }
  .home-container3 {
    height: 45px;
    border-width: 0px;
  }
}
 
@media(max-width: 479px) {
  .home-container1 {
    background-color: #FFFBF0;
  }
  .home-image {
    width: 300px;
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-container2 {
    height: 31px;
    border-width: 0px;
  }
  .home-navlink {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    border-width: 0px;
    border-radius: var(--dl-layout-radius-buttonradius);
    background-color: #7ABFE1;
  }
  .home-container3 {
    border-width: 0px;
  }
  .home-text10 {
    font-family: Helvetica;
  }
  .home-text11 {
    font-family: HelveticaRounded-Bold;
  }
  .home-text24 {
    font-family: Helvetica;
  }
  .home-text25 {
    font-family: Helvetica;
  }
  .home-text26 {
    font-family: HelveticaRounded-Bold;
  }
  .home-text29 {
    font-family: Helvetica;
  }
  .home-text30 {
    color: #7abfe1;
    font-family: HelveticaRounded-Bold;
  }
}
