.contact-form10-contact11 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact-form10-max-width {
  display: flex;
  flex-direction: column;
}
 
.contact-form10-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-direction: column;
}
 
.contact-form10-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-content2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-form10-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form10-input1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-text-input3 {
  background-color: var(--dl-color-theme-neutral-light);
}
 
.contact-form10-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input5 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-content3 {
  align-items: stretch;
}
 
.contact-form10-row {
  align-items: flex-start;
}
 
.contact-form10-icon1 {
  width: 32px;
  height: 32px;
}
 
.contact-form10-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-icon3 {
  width: 32px;
  height: 32px;
}
 
.contact-form10-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-fragment1 {
  display: contents;
}
 
.contact-form10-text19 {
  display: inline-block;
}
 
.contact-form10-fragment2 {
  display: contents;
}
 
.contact-form10-text20 {
  display: inline-block;
}
 
.contact-form10-fragment3 {
  display: contents;
}
 
.contact-form10-text21 {
  display: inline-block;
}
 
.contact-form10-fragment4 {
  display: contents;
}
 
.contact-form10-text22 {
  display: inline-block;
}
 
.contact-form10-fragment5 {
  display: contents;
}
 
.contact-form10-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form10-form {
    width: 50%;
  }
  .contact-form10-container {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form10-input4 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .contact-form10-content3 {
    width: 50%;
  }
  .contact-form10-row {
    flex-direction: column;
  }
  .contact-form10-content4 {
    width: 50%;
  }
  .contact-form10-contact-info1 {
    width: 50%;
  }
  .contact-form10-content5 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .contact-form10-input4 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .contact-form10-content2 {
    flex-direction: column;
  }
  .contact-form10-form {
    width: 100%;
  }
  .contact-form10-input4 {
    width: 100%;
  }
  .contact-form10-button {
    border-width: 0px;
    background-color: #7ABFE1;
  }
  .contact-form10-content3 {
    width: 100%;
  }
  .contact-form10-row {
    flex-direction: column;
  }
  .contact-form10-content4 {
    width: 100%;
  }
  .contact-form10-text17 {
    font-family: HelveticaRounded-Bold;
  }
  .contact-form10-content5 {
    width: 100%;
  }
  .contact-form10-text18 {
    font-family: HelveticaRounded-Bold;
  }
  .contact-form10-text19 {
    color: #7abfe1;
    font-family: Arial;
  }
  .contact-form10-text21 {
    font-family: Helvetica;
  }
}
