.features112-layout349 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features112-text1 {
  align-self: center;
  text-align: center;
}
 
.features112-text2 {
  align-self: center;
  text-align: center;
}
 
.features112-text3 {
  align-self: center;
  text-align: center;
}
 
.features112-fragment1 {
  display: contents;
}
 
.features112-text4 {
  display: inline-block;
}
 
.features112-fragment2 {
  display: contents;
}
 
.features112-text5 {
  display: inline-block;
}
 
.features112-fragment3 {
  display: contents;
}
 
.features112-text6 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features112-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .features112-max-width {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features112-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .features112-image {
    height: 481px;
    border-radius: var(--dl-layout-radius-buttonradius);
  }
  .features112-text1 {
    align-self: flex-start;
  }
  .features112-actions {
    width: 100%;
    flex-direction: column;
  }
  .features112-text4 {
    font-family: Helvetica;
  }
  .features112-text5 {
    font-family: Helvetica;
  }
  .features112-text6 {
    font-family: HelveticaRounded-Bold;
  }
}
