.features5-layout223 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.features5-max-width {
  gap: var(--dl-layout-space-threeunits);
}
 
.features5-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features5-content2 {
  gap: var(--dl-layout-space-unit);
  align-items: flex-start;
}
 
.features5-content3 {
  gap: var(--dl-layout-space-unit);
  align-items: flex-start;
}
 
.features5-content4 {
  gap: var(--dl-layout-space-unit);
  align-items: flex-start;
}
 
.features5-fragment1 {
  display: contents;
}
 
.features5-text1 {
  display: inline-block;
}
 
.features5-fragment2 {
  display: contents;
}
 
.features5-text2 {
  display: inline-block;
}
 
.features5-fragment3 {
  display: contents;
}
 
.features5-text3 {
  display: inline-block;
}
 
.features5-fragment4 {
  display: contents;
}
 
.features5-text4 {
  display: inline-block;
}
 
.features5-fragment5 {
  display: contents;
}
 
.features5-text5 {
  display: inline-block;
}
 
.features5-fragment6 {
  display: contents;
}
 
.features5-text6 {
  display: inline-block;
}
 
.features5-fragment7 {
  display: contents;
}
 
.features5-text7 {
  display: inline-block;
}
 
.features5-fragment8 {
  display: contents;
}
 
.features5-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features5-layout223 {
    flex-direction: column;
  }
  .features5-max-width {
    flex-direction: column;
  }
  .features5-title2 {
    text-align: center;
  }
  .features5-description2 {
    text-align: left;
  }
  .features5-content3 {
    align-items: flex-start;
  }
  .features5-title3 {
    text-align: center;
  }
  .features5-description3 {
    text-align: left;
  }
  .features5-content4 {
    align-items: flex-start;
  }
  .features5-title1 {
    text-align: center;
  }
  .features5-description1 {
    text-align: left;
  }
  .features5-actions {
    align-items: center;
  }
  .features5-button1 {
    width: 100%;
  }
  .features5-button2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features5-list-item1 {
    gap: var(--dl-layout-space-unit);
  }
  .features5-list-item2 {
    gap: var(--dl-layout-space-unit);
  }
  .features5-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-layout-space-unit);
  }
  .features5-button1 {
    width: 100%;
  }
  .features5-button2 {
    width: 100%;
  }
}
